header{
    display: flex;
    justify-content: space-between;
    background-color: #ADA9B7;
    width: 100%;
    height: 4%;
}


footer{
    display: flex;
    justify-content: center;
    background-color: #ADA9B7;
    bottom: 0px;
    width: 100%;
}

h3{
    color:#9191e9;
}

P{
    color: rgb(41, 44, 46);
}

img{
    width:10%;
}

body{
    background-color: #ada9b77a ;
}